po1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="purchaseOrder" type="purchaseOrderType"/>
  <xs:complexType name="shipToType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="street"/>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:string" name="state"/>
      <xs:element type="xs:string" name="zip"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="country"/>
  </xs:complexType>
  <xs:complexType name="billToType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="street"/>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:string" name="state"/>
      <xs:element type="xs:string" name="zip"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="country"/>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element name="productName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Lawnmower"/>
            <xs:enumeration value="Baby Monitor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="quantity"/>
      <xs:element name="USPrice">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="148.95"/>
            <xs:enumeration value="39.98"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="comment" minOccurs="0"/>
      <xs:element type="xs:string" name="shipDate" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="StockItem" name="partNum" use="required"/>
  </xs:complexType>
  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="purchaseOrderType">
    <xs:sequence>
      <xs:element type="shipToType" name="shipTo"/>
      <xs:element type="billToType" name="billTo"/>
      <xs:element type="xs:string" name="comment"/>
      <xs:element type="itemsType" name="items"/>
    </xs:sequence>
  </xs:complexType>

    <xs:simpleType name="StockItem">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}-[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>